# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# 原始PDF文件
data/raw_pdfs/

# 向量索引
data/faiss.index
data/faiss_meta.json

# 备份文件夹（不提交到GitHub）
archive/
deepseek_key.txt

# 运行产生的缓存
*.log

# 无用尝试文件夹
data/useless_try/
scripts/parse_pdf_uesless_try/
